
<form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" class="form-box">
    <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn"  (click)="login()">Login</button>
        <button type="button" class="toggle-btn" (click)="register()">Register</button>
    </div>

    <div id="login" class="input-group">
        <input type="username" class="input-field" placeholder="Enter Username" name="username" ngModel>
        <input type="email" class="input-field" placeholder="Email Id" name="email" ngModel *ngIf="!isLoginMode">
        <input type="text" class="input-field" placeholder="Enter Password" name="password" ngModel>
        <input type="checkbox" class="check-box" name="checkbox" ngModel>
        <span>{{isLoginMode ? 'Remember password' : 'I agree to tearms & conditions'}}</span>
        <button type="submit" class="submit-btn">{{isLoginMode ? 'Login' : 'Register'}}</button>
    </div>
</form>
