<div class="form-box">
    <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn"  (click)="loginMode()">Login</button>
        <button type="button" class="toggle-btn" (click)="register()">Register</button>
    </div>

    <div id="login" class="input-group">
        <input type="text" class="input-field" placeholder="User name">
        <input type="text" class="input-field" placeholder="Enter Password">
        <input type="checkbox" class="check-box"><span>Remember password</span>
        <button type="submit" class="submit-btn">Login</button>
    </div>
    <div id="register" class="input-group">
        <input type="text" class="input-field" placeholder="User name">
        <input type="email" class="input-field" placeholder="Email Id">
        <input type="password" class="input-field" placeholder="Enter Password">
        <input type="checkbox" class="check-box"><span>I agree to tearms & conditions</span>
        <button type="submit" class="submit-btn">Register</button>
    </div>
</div>