.header {
    position: relative;
    margin-top: max(20vw, 100px);
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header h1 {
    color:#2bab0d;
    font-size: max(4vw, 18px);
    font-weight: 400;
}
.header p {
    color: #2bab0d;
    font-size:  max(2vw, 14px);
    font-weight: lighter;
}
.header button {
    color: black;
    background: rgba(0,100,0,0);
    border: 1px solid black;
    border-radius: 6px; 
    padding: 18px 38px;
    font-size: 16px;
    margin-top: 40px;
}
.header button:hover{
    background: #2bab0d;
    color: #fff;

}